{% load crispy_forms_tags %}
{% load comments %}

{% get_comment_list for item as comments %}

{% for awesome in comments %}
	 <div class="alert alert-info" role="alert"><b>{{ awesome.user_name }} said:</b> {{ awesome.comment|linebreaks}}</div>
{% endfor %}

{% get_comment_form for item as form %}

{% if not request.user.is_authenticated %}
	<h1>Please Log in to comment</h1>
{% else %}
	<form action="{% comment_form_target %}" method="POST">
		{% csrf_token %}
		
		<input type="hidden" name="name" value="{{request.user.username}}">
		<input type="hidden" name="email" value="{{request.user.email}}">
		<input type="text" name="comment" class="form-control input-lg">
		{{form.content_type}}
		{{form.object_pk}}
		{{form.timestamp}}
		{{form.security_hash}}
		
		<input type="hidden" name="next" value="{{item.get_detail_url}}">
		<input type="submit" value="Submit" class="btn btn-outline-info">
	</form>
{% endif %}


