{% extends "base.html" %}
{% load share %}

{% block heading %}
	Detail
{% endblock heading %}

{% block content %}
	<div class="card text-center">
	  <div class="card-header">
	    Blog Post
	  </div>
	  <div class="card-body">
	    <h4 class="card-title">{{item.title}}</h4>
	    <p class="card-text">{{item.content}}</p>
	    <a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
		<a class="btn btn-info" href="https://twitter.com/home?status={{item.content|truncatechars:140|share}}%20{{request.build_absolute_uri}}">
		<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>			
		<a class="btn btn-primary" href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{item.title|share}}&summary={{item.content|share}}&source={{request.build_absolute_uri}}">
		<i class="fa fa-linkedin" aria-hidden="true"></i>
		</a>
	  </div>
	  <div class="card-footer text-muted">
	    {{item.publish_date}}
	  </div>
	</div>
	<br>
	<div class="btn btn-secondary" onclick="ajax_like()">
		<span id="likes_count">{{like_count}}</span>
		<span><i id="heart" class="fa fa-heart {% if liked %}text-danger{% endif %}" aria-hidden="true"></i></span>
	</div>
	<br><br>
	{% include "comments.html" %}

	<script>
		function ajax_like()
		{
			$.ajax(
				{
					type:'GET',
					url:'{% url "more:like_button" post_id=item.id %}',
					error:function(){
						console.log("OMGGG WHAT did you do?!");
					} ,
					success:function(data){
						$("#likes_count").text(data.like_count);
						if(data.action==="like"){
							$("#heart").addClass("text-danger");
						}
						else{
							$("#heart").removeClass("text-danger");
						}
					},
				});
		}
	</script>
{% endblock content %}