{% extends "base.html" %}
{% block heading %}
	List
{% endblock heading %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-3">These are my posts!</h1>
			<a class="btn btn-primary btn-lg" href="{% url 'more:create' %}" role="button">Create</a>
			<br><br>
			<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="popover" title="IMPORTANT MESSAGE!!!" data-content="If you're reading this right now you should know that I'm really bored and you're a noob! :)">Click Me!</button>
		</p>
	</div>
	
	<div class="row">
	{% for item in post_items %}
		<div class="card col-xs-12 col-md-4" style="width: 20rem;">
			{% if item.img %}
				<img class="card-img-top" src="{{item.img.url}}" alt="Card image cap">
			{% endif %}
			<div class="card-body">
				<h4 class="card-title">{{item.title}} <small>{{item.created|timesince}}</small></h4>
				<p class="card-text">{{item.content|linebreaks|truncatechars:30}}</p>
				<a href="{% url 'more:detail' post_id=item.id %}" class="btn btn-info">Read More...</a>
				<a href="{% url 'more:update' post_id=item.id %}" class="btn btn-warning">Update</a>
				<a href="{% url 'more:delete' post_id=item.id %}" class="btn btn-danger">Delete</a>

			</div>
		</div>
	{% endfor %}
	</div>
	<div class="pagination">
    <span class="step-links">
        {% if post_items.has_previous %}
            <a href="?page={{ post_items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_items.number }} of {{ post_items.paginator.num_pages }}.
        </span>

        {% if post_items.has_next %}
            <a href="?page={{ post_items.next_page_number }}">next</a>
        {% endif %}
    </span>
	</div>
{% endblock content %}