{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block heading %}
	Login
{% endblock heading %}

{% block content %}
	<form action="{% url 'more:login' %}" method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<input class="btn btn-success" type="submit" value="Login Now!">
		<a href="{% url 'github_login' %}" class="btn btn-dark">
			<i class="fa fa-github" aria-hidden="true"></i>  Login Using Github
		</a>
		<a href="{% url 'twitter_login' %}" class="btn btn-primary">
			<i class="fa fa-twitter" aria-hidden="true"></i>  Login Using Twitter
		</a>
	</form>

{% endblock content %}